body {
    background-image:url(../images/bkg-blu.jpg);
}

#header {
font-size:25px;
}

header {
    text-align:center;
font-family:'Century Gothic';
font-weight:bold;

}

#linkdiv li {
list-style:none;
display:inline;
}

#linkdiv{
    left:36%;
    position:absolute;
}
.links{
     font-family:'Century Gothic';
     text-decoration:none;
     color :#2F4F4F;
     font-size:small;
     }
.links:hover{
     text-decoration:none;
     color :darkslategrey;
     border-bottom: solid 2px #205bad;
     
     }

/* For Panel */

.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 5% 0 0 3%;
/*margin-top: 20px;*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 95%;
}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
font-size: 12px;
text-shadow: 0px 1px 0px #FFF;

}

.module_content ul {
list-style:none;
}
/* Panel End */


#logout,#login {
float:right;
right:10px;

}