<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms name="HIVLogin" loginUrl="login.aspx" defaultUrl="index.aspx" timeout="20" protection="All"/>
      </authentication>
    </system.web>

  
  
  <connectionStrings>
    <add name="notifications_db_cs" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\notifications_db.mdf" />
  </connectionStrings>
  
</configuration>

